<div id="accordion" class=" m-3">
    <div class="card Filtro">
        <button class="btn btn-sm" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <b> Filtros</b>
        </button>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

                <div class="form-row" [formGroup]="frmForm">
                    <div class="form-group col-md-3">
                        <label class="form-label">Grupos Entidades</label>
                        <select class="custom-select select-multiple" size="6" multiple formControlName="grpPessoas" (change)="loadPessoas()">
                            <option selected value="null">*** Todos Grupos ***</option>
                            <option *ngFor="let item of lstGrpPessoas" [disabled]="item.ehFolha != 'S'" [value]="item.id">{{item.nomeIdentado}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="form-label">Entidades</label>
                        <select class="custom-select "  multiple formControlName="pessoas">
                            <option selected value="null">*** Todas Entidades ***</option>
                            <option *ngFor="let item of lstPessoas" [value]="item.id">{{item.nome}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label">Status</label>
                        <select class="custom-select select-multiple" size="6" multiple formControlName="pessoas">
                            <option selected value="null">*** Todos Status ***</option>
                            <option *ngFor="let item of lstStatus" [value]="item.codigo">{{item.codigo}}-{{item.nome}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label">Tipo Data</label>
                        <select class="custom-select" formControlName="pessoas">
                            <option value="CADASTRO">Cadastro</option>
                        </select>
                        <label class="form-label">Inicial</label>
                        <app-flatpickr-component id="dataIni" [FormGroup]="frmForm" formControlName="dataInicial"></app-flatpickr-component>
                        <label class="form-label">Final</label>
                        <app-flatpickr-component id="dataFin" [FormGroup]="frmForm" formControlName="dataFinal"></app-flatpickr-component>
                    </div>


                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary" (click)="filtrar()">Filtrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>