<header id="heroSection">
    <nav>
        <img src="../../../assets/images/logo/Logo Schneider - Negócios Imobiliários Branco Recorte.png" alt="logo" class="logo">
        <ul>
            <li class="contact-info">
                <div>
                    <p>Atendimento</p>
                    <p><a href="https://wa.me/5554996359597?text=Olá,%20estou%20interessado!" target="_blank">(54) 9 96359597</a></p>        
                    <p><a href="https://wa.me/5554999551997?text=Olá,%20estou%20interessado!" target="_blank">(54) 9 99551997</a></p>        
                    <!-- <p>(54) 9 96359597</p>         -->
                    <!-- <p>(54) 9 99551997</p>             -->
                </div>
            </li>
        </ul>
    </nav>
</header>

<main>
    <!-- filtro -->
    <section >
        <img src="../../../assets/images/view-castle-with-nature-landscape.jpg" alt="imagem castelo alemão" class="image-background"> 
    
        <div class="input-container">
            <div class="glass"></div>
            <div class="filtros">
                <div class="filter-item-1">
                    <ng-select
                    [items]="lstBairros"
                    placeholder="Bairro - Selecione quantos desejar..."
                    (search)="true"
                    (clearable)="true"
                    [multiple]="true"
                    (change)="listagemBairros($event)"
                    ></ng-select>
                </div>
                <div class="filter-item-2">
                    <ng-select
                    [items]="lstValores"
                    [(ngModel)]="valorDe"
                    (clearable)="true"
                    placeholder="Valor De"
                    [ngModel]="valorDe"
                    ></ng-select>
                </div>
                <div class="filter-item-3">
                    <ng-select
                    [items]="lstValores"
                    [(ngModel)]="valorAte"
                    (clearable)="true"
                    placeholder="Valor Até"
                    [ngModel]="valorAte"
                    ></ng-select>
                </div>
                <div class="filter-item-4">
                    <button class="search-button" [routerLink]="['listagem']" [queryParams]="{ bairros: bairros, valorDe: valorDe, valorAte: valorAte }">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="imoveis-destaques">
        <div class="container-fluid">
            <div class="pb-2">
                <h1>Imóveis em Destaque</h1>
            </div>
            
            <div class="imoveis-grid">
                <div *ngFor="let item of lstImoveisDestaque">
                  <div class="card-imovel" (click)="DescricaoImovel(item)">
                    <div>
                      <img [src]="item.FotoDestaquePequena" class="imagem-lista" alt="Imagem do Imóvel" >
                    </div>
                    <div>
                      <h5 class="card-title">Código: {{ item.Codigo }}</h5>
                      <p class="card-text">Cidade: {{ item.Cidade }}</p>
                      <p class="card-text">Bairro: {{ item.Bairro }}</p>
                      <p class="card-text">Valor: R$ {{ item.ValorVenda }}</p>
                      <button class="search-button" (click)="DescricaoImovel(item)">Descrição</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col logoFooter">
                    <a href="#heroSection">
                        <img src="../../../assets/images/logo/Logo Schneider - Negócios Imobiliários Sem Fundo.png" alt="Logo da Empresa">
                    </a>
                </div>
                <div class="col texto-footer">
                    <h2>Imobiliaria Schneider</h2>
                    <p>Endereço completo</p>
                    <p>Contatos: (54) 9 96359597 | (54) 9 99551997</p>
                    <p>Email: leticiazatera'@'gmail.com</p>
                    <p>link para abrir o whats e as outras redes sociais</p>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://wa.me/5554996359597?text=Olá,%20estou%20interessado!" target="_blank"><i class="fab fa-whatsapp"></i></a></li>  
                    </ul>
                </div>
            </div>
        </div>  
    </footer>
</main>
