<header>
    <nav>
        <img src="../../../assets/images/logo/Logo Schneider - Negócios Imobiliários Branco Recorte.png" alt="logo" class="logo">
        <ul>
            <li style="padding-right: 2.5rem;">
                <div style="font-weight: bold;">
                    <p>Atendimento</p>
                    <p>(54) 9 96359597</p>        
                    <p>(54) 9 99551997</p>            
                </div>
            </li>
        </ul>
    </nav>
</header>

<main>
    <!-- filtro -->
    <section id="heroSection">
        <img src="../../../assets/images/view-castle-with-nature-landscape.jpg" alt="imagem castelo alemão" class="image-background"> 
    
        <div class="input-container" >
            
            <div class="glass relative">
            </div>
            <div class="filtros">
                <div style=" grid-column: 1 / 5;">
                    <ng-select
                    [items]="lstBairros"
                    placeholder="Bairro - Selecione quantos desejar..."
                    (search)="true"
                    (clearable)="true"
                    [multiple]="true"
                    (change)="listagemBairros($event)"
                    ></ng-select>
                </div>
                <div style="grid-column: 5 / 8; ">
                    <ng-select
                    [items]="lstValores"
                    [(ngModel)]="valorDe"
                    (clearable)="true"
                    placeholder="Valor De"
                    [ngModel]="valorDe"
                    ></ng-select>
                </div>
                <div style="grid-column: 8 / 11; ">
                    <ng-select
                    [items]="lstValores"
                    [(ngModel)]="valorAte"
                    (clearable)="true"
                    placeholder="Valor Até"
                    [ngModel]="valorAte"
                    ></ng-select>
                </div>
                <div style="grid-column: 11/12 ; ">
                    <button class="search-button" [routerLink]="['listagem']" [queryParams]="{ bairros: bairros, valorDe: valorDe, valorAte: valorAte }"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
    </section>

    <section class="imoveis-destaques">
        <div class="container-fluid" >
            <div class="col-md-12 pb-2" style="margin: 1rem;">
                <h1 class="">Imóveis em Destaque</h1>
            </div>
            
            <div style="display: grid; grid-template-columns: repeat(5, 14rem); gap: 3.3rem; width: 100%; margin: 1rem;" >
        
                <div *ngFor="let item of lstImoveisDestaque">
                  <div class="card-imovel" style="justify-self: center; " (click)="DescricaoImovel(item)">
                    <div>
                      <img [src]="item.FotoDestaquePequena" class="imagem-lista" alt="Imagem do Imóvel" >
                    </div>
                    <div>
                      <h5 class="card-title">Código: {{ item.Codigo }}</h5>
                      <p class="card-text">Cidade: {{ item.Cidade }}</p>
                      <p class="card-text">Bairro: {{ item.Bairro }}</p>
                      <p class="card-text">Valor: R$ {{ item.ValorVenda }}</p>
                      <button class="search-button" style="background-color: #4b774a; width: 100%;" (click)="DescricaoImovel(item)" >Descrição</button>
                    </div>
                  </div>
                </div>
                
              </div>

        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col logoFooter" >
                    <a href="#heroSection">
                        <img src="../../../assets/images/logo/Logo Schneider - Negócios Imobiliários Sem Fundo.png" alt="Logo da Empresa">
                    </a>
                </div>
                <div class="col" style="color: aliceblue;">
                    <h2>Imobiliaria Schneider</h2>
                    <p>Endereço completo</p>
                    <p>Contatos: (54) 9 96359597 | (54) 9 99551997</p>
                    <p>Email: leticiazatera'@'gmail.com</p>
                    link para abrir o whats e as outras redes sociais
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>  
                    </ul>
                </div>
            </div>
        </div>  
    
    </footer>
    
</main>

<!-- <list-imoveis [Bairros]="bairros"  [ValorDe]="valorDe"  [ValorAte]="valorAte" *ngIf="listagem"></list-imoveis> -->
