@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.logo{
    width: 250px;
}

header{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: 0;
}

header nav{
    max-width: 1400px;
    margin: auto 0;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Estilizando o nav-bar */
nav {
    display: flex;          /* Habilita o layout flexível */
    justify-content: space-between; /* Distribui o espaço entre logo e menu */
    align-items: center;    /* Alinha itens verticalmente ao centro */
    position: relative;     /* Define a posição relativa para ajustar os itens internos */
}

/* Estilizando o ul */
nav ul {
    display: flex;            /* Torna a lista flexível */
    list-style-type: none;    /* Remove marcadores de lista */
    margin: 0;                /* Remove margem */
    padding: 0;               /* Remove padding */
    position: absolute;       /* Posiciona absolutamente dentro do nav-bar */
    top: 2rem;                   /* Alinha no topo */
    right: 0;                 /* Alinha à direita */
}

/* Estilizando o li */
nav ul li a {
    margin-left: 15px;        /* Espaçamento entre os itens da lista */
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

// header ul{
//    display:flex;
//     list-style: none;
//     align-items: center;
// }

// header ul a {
//     text-decoration: none;
//     color: #fff;
//     padding: 0 1.5rem;
//     text-transform: uppercase;
//     font-weight: 300;
//     font-size: 0.83rem;
// }

.search a {
    font-size: 1.05rem;
    padding: 0 3rem;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    // overflow: hidden;
}

.image-background {
    width: 100%; /* Ajustar a largura conforme necessário */
    height: auto ; /* Ajustar a altura conforme necessário */
    position: relative; /* Posiciona a imagem como referência para outros elementos */
}

.input-container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o container */
    display: flex; /* Transforma o container em um flex container */
    align-items: center; /* Alinha os itens verticalmente no centro */
}


.search-button {
    /* Estilos para o botão */
    padding: 10px;
    background-color: #97D6B1; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    
    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}

.glass{
    // background: linear-gradient(135deg, rgba(238, 15, 15, 0.849), rgba(211, 28, 28, 0.849));
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.filtros {
    margin: 1.5rem;
    padding-left: 6.5rem;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(12, 5fr); 
    gap: 10px;
    justify-content: center; align-items: center;
/* Outras propriedades de estilo da sua form-group */
}

footer {
    background: linear-gradient(45deg, rgba(15, 15, 15, 0.979), rgba(0, 0, 0, 0.774));
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logoFooter img {
    max-width: 150px; /* Ajuste o tamanho máximo do logo */
}
.social-media li {
    display: inline-block;
    margin: 0 10px;
}

.social-media a i{
    color: #fff;
}

.social-media a i:hover{
    transform: scale(1.7); /* Aumenta em 20% (1.2x) */
    color: #97D6B1;
}

.card-imovel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #97D6B1, #8dc2a3);
    padding-bottom: .5rem;
  
    &:hover{
      font-weight: 300;
      transform: scale(1.1);
      background-color: #97D6B1;
      cursor: pointer;
      z-index: 9;
      .imagem-lista{
        // transform: scale(1.05);
      }
    }
  }

  .imagem-lista{
    margin: 0;
    width: fit-content;
    height: 20rem;
  }
  