<div class="container-fluid flex-grow-1 container-p-y">

    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/appcore/dashboard']"><i class="feather icon-home"></i></a>
            </li>
            <li class="breadcrumb-item">{{nome_tela}}</li>
            <li class="breadcrumb-item active col-10">{{nome_etapa}}</li>

        </ol>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-12 col-12">
                <button type="button" (click)="ImportarCondicaoPagamento()" class="btn btn-md btn-info mt-1">
                    Importar Condições Pagamento</button>

                <button type="button" (click)="ImportarNcm()" class="btn btn-md btn-info mt-1">
                    Importar NCMs</button>
                <button type="button" (click)="ImportarRepresentante()" class="btn btn-md btn-info mt-1">
                    Importar Representantes</button>

            </div>
            <div class="col-md-12 col-12 mt-3">
                <button type="button" (click)="ImportarClientes()" class="btn btn-md btn-info mt-1">
                    Importar Clientes</button>
                <button type="button" (click)="ImportarTabelasProdutos()" class="btn btn-md btn-info mt-1">
                    Importar Tabelas e Produtos</button>
                <button type="button" (click)="VerificaPedidosFaturados()" class="btn btn-md btn-info mt-1">
                    Atualiza Pedidos Faturados</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-item" style="display: block;" *ngIf="loading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col" style="color: #AAA;">
                        <div class="spinner-border mb-3" role="status"></div>
                        <p style="font-size: 1.2rem;">Sincronizando, aguarde...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>