.grafico{
    padding: 2px;
    background-color: #0000000a;
}

hr {
    border-top: 0.1px solid #000; /* Cor e estilo da linha */
    height: 50px; /* Altura da linha */
  }

  .titulo{
    font-weight: bold;
}