<div class="container-fluid flex-grow-1 container-p-y">

    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/appcore/dashboardgraficos']"><i
                        class="feather icon-home"></i></a>
            </li>
            <li class="breadcrumb-item">Dashboard</li>
        </ol>
    </div>

    <div class="card-body">
        <div *ngFor="let setor of setores; let i = index" id="setor{{i}}">

            <h1>{{setor.nome}}</h1>
            <br>
            <div *ngFor="let variavel of setor.variaveis; let j = index">
                <div class="grafico">
                    <h4 class="titulo">{{variavel.nomeVariavel}}</h4>
                    <br>
                    <canvas id="canva-{{i}}-{{j}}" baseChart class="chart" [data]="barChartData"
                        [options]="barChartOptions" [plugins]="barChartPlugins" [type]="barChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <hr>
            </div>

            <br>
        </div>
    </div>



    <div class="card mb-4 shadow" *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>