<div style="width: 100vw; height: 100%;" >

  <!-- ---- FILTROS ---- -->
  <div [formGroup]="frm" class="filtros-lista glass">
        <div class="btn-voltar">
          <button class="search-button " [routerLink]="['..']" ><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
        <div class="filtro-item-1">
            <ng-select
            [items]="lstBairros"
            placeholder="Bairro"
            (search)="true"
            (clearable)="true"
            [multiple]="true"
            (change)="listagemBairros($event)"
            ></ng-select>
        </div>
        <div class="filtro-item-2">
            <ng-select
            [items]="lstValores"
            (clearable)="true"
            placeholder="Valor De"
            formControlName="valorDe"
            ></ng-select>
        </div>
        <div class="filtro-item-3">
            <ng-select
            [items]="lstValores"
            (clearable)="true"
            placeholder="Valor Até"
            formControlName="valorAte"
            ></ng-select>
        </div>
        <div class="filtro-item-4">
            <button class="search-button" (click)="Filtrar()"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div style="grid-column: 14 / 16; content: '';"></div>
  </div>

    
    <div class="listagem" >
 
      <div *ngIf="loading">
        <div class="col" style="padding: 20px 0;">
          <div class="spinner-border mb-3" style="color: #AAA" role="status"></div>
            <p class="titulo-load-carregando">Carregando... Aguarde</p>
        </div>
      </div>

      <div *ngIf="!loading && semItens == true">
        <h1>Não foi localizado nenhum imóvel com os filtros.</h1>
      </div>

      <div class="lista-imoveis" *ngIf="!loading && semItens == false">
        
        <div *ngFor="let item of lstImoveis">
          <div class="card-imovel" style="justify-self: center; " (click)="DescricaoImovel(item)">
            <div>
              <img [src]="item.FotoDestaquePequena" class="imagem-lista" alt="Imagem do Imóvel" >
            </div>
            <div>
              <h3 class="card-title"><strong>Código: {{ item.Codigo }}</strong></h3>
              <p class="card-text">Cidade: {{ item.Cidade }}</p>
              <p class="card-text">Bairro: {{ item.Bairro }}</p>
              <p class="card-text">Valor: R$ {{ item.ValorVenda }}</p>
              <button class="search-button" style="background-color: #4b774a; width: 100%;" (click)="DescricaoImovel(item)" >Descrição</button>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>

</div>
