<div style="width: 100vw; height: 100%;" >

  <!-- ---- FILTROS ---- -->
  <div class="glass" style="display: grid; grid-template-columns: repeat(15, 1fr); grid-gap: 1rem; position: fixed; top: 0; left: 0; width: 100%; margin: 0.5rem; padding: 0.2rem; z-index: 1000;">
        <div style="grid-column: 1 / 3; display: flex; justify-content: space-around;">
          <button class="search-button" [routerLink]="['..']" ><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
        <div style="grid-column: 3 / 7;">
            <ng-select
            [items]="lstBairros"
            placeholder="Bairro"
            (search)="true"
            (clearable)="true"
            [multiple]="true"
            (change)="listagemBairros($event)"
            ></ng-select>
        </div>
        <div style="grid-column: 7 / 10;">
            <ng-select
            [items]="lstValores"
            [(ngModel)]="valorDe"
            (clearable)="true"
            placeholder="Valor De"
            [ngModel]="valorDe"
            ></ng-select>
        </div>
        <div style="grid-column: 10 / 13;">
            <ng-select
            [items]="lstValores"
            [(ngModel)]="valorAte"
            (clearable)="true"
            placeholder="Valor Até"
            [ngModel]="valorAte"
            ></ng-select>
        </div>
        <div style="grid-column: 13 / 14;">
            <button class="search-button" (click)="Search()"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div style="grid-column: 14 / 16; content: '';"></div>
  </div>

    
    <div style="display: flex; justify-content: center; margin-top: 4rem;" >
 
      <div *ngIf="loading">
        <div class="col" style="padding: 20px 0;">
          <div class="spinner-border mb-3" style="color: #AAA" role="status"></div>
            <p class="titulo-load-carregando">Carregando... Aguarde</p>
        </div>
      </div>

      <div *ngIf="!loading && semItens == true">
        <h1>Não foi localizado nenhum imóvel com os filtros.</h1>
      </div>

      <div style="display: grid; grid-template-columns: repeat(5, 14rem); gap: 3.3rem; width: 100%; margin: 1rem;" *ngIf="!loading && semItens == false">
        
        <div *ngFor="let item of lstImoveis">
          <div class="card-imovel" style="justify-self: center; " (click)="DescricaoImovel(item)">
            <div>
              <img [src]="item.FotoDestaquePequena" class="imagem-lista" alt="Imagem do Imóvel" >
            </div>
            <div>
              <h5 class="card-title">Código: {{ item.Codigo }}</h5>
              <p class="card-text">Cidade: {{ item.Cidade }}</p>
              <p class="card-text">Bairro: {{ item.Bairro }}</p>
              <p class="card-text">Valor: R$ {{ item.ValorVenda }}</p>
              <button class="search-button" style="background-color: #4b774a; width: 100%;" (click)="DescricaoImovel(item)" >Descrição</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>

</div>
