<div class="container-fluid flex-grow-1 container-p-y">
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/appcore/dashboard']"><i class="feather icon-home"></i></a>
            </li>
            <li class="breadcrumb-item" [routerLink]="['/appcore/empresa/'+id]">{{nome_tela}}</li>
            <li class="breadcrumb-item active">Edição</li>
        </ol>
    </div>

    <ul class="nav nav-tabs ml-3" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#configuracoes" role="tab" data-toggle="tab"><i class="material-icons mr-2"
                    style="font-size: 1.2rem; vertical-align: top;">&#xe8b8;</i> Configurações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Turnos" role="tab" data-toggle="tab"><i class="material-icons mr-2"
                    style="font-size: 1.2rem; vertical-align: top;">&#xebe7;</i> Turnos</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show" id="configuracoes">
            <div class="card mb-4">
                <h6 class="card-header">
                    <div class="row m-0">
                        <div class="col-6">
                            Configurações
                        </div>
                    </div>
                </h6>

                <div class="card-body" *ngIf="loading">
                    <div class="row text-center">
                        <div class="col" style="padding: 20px 0; color: #AAA;">
                            <div class="spinner-border mb-3" role="status"></div>
                            <p style="font-size: 1.2rem;">Carregando...
                                Aguarde</p>
                        </div>
                    </div>
                </div>

                <div class="card-body" [formGroup]="frmForm" [hidden]="loading">
                    <div class="form-row">
                        <div class="col-md-12 row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome_fantasia" formControlName="nome"
                                    [ngClass]="{ 'is-invalid' : submitted && f.nome.errors}" #nome autofocus="true">
                                <span class="invalid-feedback" *ngIf="f.nome.errors?.required">Este
                                    campo é
                                    obrigatório</span>
                                <div class="clearfix"></div>
                            </div>


                            <div class="form-group col-md-6 col-sm-12">
                                <label class="form-label">E-mail</label>
                                <input type="text" class="form-control" id="email" formControlName="email"
                                    [ngClass]="{ 'is-invalid' : submitted && f.email.errors}">
                                <span class="invalid-feedback" *ngIf="f.email.errors?.required">Este
                                    campo é obrigatório</span>
                                <div class="clearfix"></div>
                            </div>


                            <div class="form-group col-md-12 col-sm-12">
                                <label class="form-label">Email de Notificação</label>
                                <textarea class="form-control" type="number" formControlName="emailNotificacao"></textarea>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="form-group col-md-12 col-sm-12 mt-4">
                                <button type="submit" class="btn btn-primary" (click)="save($event)">Salvar</button>
                                <a tabindex="0" [routerLink]="['/appcore/dashboard']" class="btn
                                btn-outline-secondary">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>





</div>