<div class="modal" tabindex="-1" id="modal-item" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Produtos</h5>
                <!-- <div class="col-4 text-right">
                    <a type="button" (click)="new()" class="btn btn-xs btn-outline-primary mt-3">Novo</a>
                </div> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fecharModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="card-body">
                <div class=" mb-2">
                    <div class="col-6">
                        <input type="text" class="form-control pl-3" placeholder="Pesquisar ..." (input)="searchChanged.next($event.target.value)" />
                    </div>
                </div>
                <div class="form-row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Valor</th>
                                <!-- <th>Ações</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- - ################ LISTAGEM DOS REGISTROS #####################  -->
                            <tr *ngFor="let item of itens">
                                <td>{{item.codigo}}</td>
                                <td>{{item.nomeProduto}}</td>
                                <td>{{item.valor | currency:'R$'}}</td>

                                <!-- <td class="d-flex justify-content-end">
                                    <button type="button" (click)="edit(item)" class="btn btn-xs btn-outline-info"><i
                                            class="material-icons icon-button">&#xe3c9;</i> Editar</button>
                                    <button type="button" (click)="delete(item.id)" class="btn btn-xs btn-outline-danger">
                                        <i class="material-icons icon-button">&#xe872;</i> Excluir</button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="fecharModal()" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>