<div class="card mb-4">
    <h6 class="card-header">
        <div class="row m-0">
            <div class="col-9">Lista de Sistemas</div>
            <div class="col-3 d-flex justify-content-end">
                <a type="button" (click)="new()" class="btn btn-xs btn-outline-primary mt-3">Novo</a>
            </div>
        </div>
    </h6>

    <div class="card-body">
        <div class="form-row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sistema</th>
                        <th>Data de StartUp</th>
                        <th>Tempo de Garantia</th>
                        <th>Data de Expiração</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ################ NOVO REGISTRO - INSERIR ##################### -->
                    <tr [formGroup]="frmForm" *ngIf="frmForm.value.id == 0" class="editing">
                        <td class="form-group col-12 col-sm-3">
                            <input class="form-control" type="text" id="nomeSistema" formControlName="nomeSistema"
                                [ngClass]="{ 'is-invalid' : submitted && f.nomeSistema.errors}" #nomeSistema autofocus="true">
                            <span class="invalid-feedback" *ngIf="f.nomeSistema.errors?.required">Este
                                campo é
                                obrigatório</span>
                            <div class="clearfix"></div>
                        </td>

                        <td class="form-group col-12 col-sm-3">
                            <app-flatpickr-component id="dataStartUp" [FormGroup]="frmForm" formControlName="dataStartUp"></app-flatpickr-component>
                            <span class="invalid-feedback" *ngIf="f.dataStartUp.errors?.required">Este campo é obrigatório</span>
                        </td>

                        <td class="form-group col-12 col-sm-3">
                            <ng-select formControlName="tempoGarantia" [clearable]="false" [searchable]="true" notFoundText="Nenhum encontrado!"
                                [ngClass]="{ 'is-invalid' : submitted && f.tempoGarantia.errors}" (change)="LimpaForm()">
                                <ng-option [value]="1">Sem Garantia</ng-option>
                                <ng-option [value]="6">6 Meses</ng-option>
                                <ng-option [value]="12">12 Meses</ng-option>
                                <ng-option [value]="24">24 Meses</ng-option>
                                <ng-option [value]="36">36 Meses</ng-option>
                            </ng-select>
                            <span class="invalid-feedback" *ngIf="f.tempoGarantia.errors?.required">Este campo é obrigatório</span>
                        </td>

                        <!-- <td class="form-group col-12 col-sm-3">
                            <input class="form-control" type="number" id="tempoGarantia" formControlName="tempoGarantia"
                                [ngClass]="{ 'is-invalid' : submitted && f.tempoGarantia.errors}">
                            <span class="invalid-feedback" *ngIf="f.tempoGarantia.errors?.required">Este
                                campo é obrigatório</span>
                            <div class="clearfix"></div>
                        </td> -->

                        <td class="form-group col-12 col-sm-3">
                            <input id="dataExpiracao" class="form-control" formControlName="dataExpiracao"
                                [ngClass]="{ 'is-invalid' : submitted && f.dataExpiracao.errors}" readonly>
                        </td>

                        <td class="d-flex justify-content-end pt-3">
                            <button type="button" (click)="save($event)" class="btn btn-xs btn-success">Salvar</button>
                            <button type="button" (click)="canceledit()" class="btn btn-xs btn-info">Cancelar</button>
                        </td>
                    </tr>

                    <!-- - ################ LISTAGEM DOS REGISTROS #####################  -->
                    <tr [ngClass]="{ 'editing shadow' : frmForm.value.id == item.id}" [formGroup]="frmForm" *ngFor="let item of itens">
                        <!-- <th scope="row">{{item.id}}</th> -->
                        <td *ngIf="frmForm.value.id != item.id">{{item.nomeSistema}}</td>
                        <td *ngIf="frmForm.value.id != item.id">{{item.dataStartUp}}</td>
                        <!-- <td *ngIf="frmForm.value.id != item.id">{{item.tempoGarantia}}</td> -->
                        <td *ngIf="frmForm.value.id != item.id && item.tempoGarantia == 1">Sem Garantia</td>
                        <td *ngIf="frmForm.value.id != item.id && item.tempoGarantia == 6">6 Meses</td>
                        <td *ngIf="frmForm.value.id != item.id && item.tempoGarantia == 12">12 Meses</td>
                        <td *ngIf="frmForm.value.id != item.id && item.tempoGarantia == 24">24 Meses</td>
                        <td *ngIf="frmForm.value.id != item.id && item.tempoGarantia == 36">36 Meses</td>
                        <td *ngIf="frmForm.value.id != item.id">{{item.dataExpiracao}}</td>
                        <td *ngIf="frmForm.value.id != item.id" class="d-flex justify-content">
                            <button type="button" (click)="edit(item)" class="btn btn-xs btn-outline-info"><i
                                    class="material-icons icon-button">&#xe3c9;</i>
                                Editar</button>
                            <button type="button" (click)="abreModalSisVar(item.id)" class="btn btn-xs btn-outline-secondary"><i
                                    class="material-icons icon-button">&#xe3c9;</i> Variáveis</button>
                            <button type="button" (click)="delete(item.id)" class="btn btn-xs btn-danger"><i
                                    class="material-icons icon-button">&#xe872;</i>
                                Excluir</button>
                        </td>

                        <!-- - ###########################################################  -->
                        <!-- - ################ EDITAR DOS REGISTROS #####################  -->
                        <td *ngIf="frmForm.value.id == item.id">
                            <input type="text" class="form-control" formControlName="nomeSistema"
                                [ngClass]="{ 'is-invalid' : submitted && f.nomeSistema.errors}" autofocus="true">
                        </td>

                        <td *ngIf="frmForm.value.id == item.id">
                            <app-flatpickr-component id="dataStartUp" [FormGroup]="frmForm" formControlName="dataStartUp"
                                [ngClass]="{ 'is-invalid' : submitted && f.dataStartUp.errors}"></app-flatpickr-component>
                        </td>

                        <td *ngIf="frmForm.value.id == item.id">
                            <ng-select formControlName="tempoGarantia" [clearable]="false" [searchable]="true" notFoundText="Nenhum encontrado!"
                                [ngClass]="{ 'is-invalid' : submitted && f.tempoGarantia.errors}" (change)="LimpaForm()">
                                <ng-option [value]="1">Sem Garantia</ng-option>
                                <ng-option [value]="6">6 Meses</ng-option>
                                <ng-option [value]="12">12 Meses</ng-option>
                                <ng-option [value]="24">24 Meses</ng-option>
                                <ng-option [value]="36">36 Meses</ng-option>
                            </ng-select>
                        </td>

                        <!-- <td *ngIf="frmForm.value.id == item.id">
                            <app-flatpickr-component id="dataExpiracao" [FormGroup]="frmForm" formControlName="dataExpiracao"
                                [ngClass]="{ 'is-invalid' : submitted && f.dataExpiracao.errors}" disable="true"></app-flatpickr-component>
                        </td> -->
                        <td *ngIf="frmForm.value.id == item.id">
                            <input id="dataExpiracao" class="form-control" formControlName="dataExpiracao"
                                [ngClass]="{ 'is-invalid' : submitted && f.dataExpiracao.errors}" readonly>
                        </td>

                        <td *ngIf="frmForm.value.id == item.id">
                            <button type="button" (click)="save($event)" class="btn btn-xs btn-success">Salvar</button>
                            <button type="button" (click)="canceledit()" class="btn btn-xs btn-info">Cancelar</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="modal-sistema-variaveis" style="display: block" *ngIf="MostraModalSisVar">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <modal-sistema-variaveis (evFechar)="fechaModalSisVar()" [idClienteSistema]="idClienteSistema"></modal-sistema-variaveis>

        </div>
    </div>
</div>