<div class="glass header-descricao " >
  <div calss="header-descricao-logo">
    <img [routerLink]="['..']" src="../../../../assets/images/logo/Logo Schneider - Negócios Imobiliários-Photoroom-Recorte.png" alt="logo Imobiliaria Schneider"  class="logo">
  </div>
  <div class="header-descricao-contato">
    <div> 
      <p>Atendimento</p>
      <p>(54) 9 96359597</p>
      <p>(54) 9 99551997</p>
    </div>
  </div>
</div>

<div class="descricao-imovel">

<div class="imovel" *ngIf="!loading">

  <div class="imovel-item-1" >
    <button class="search-button" [routerLink]="['../listagem']" ><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
  </div>

  <div class="imovel-item-2">
    <swiper-container class="slider">
      <swiper-slide *ngFor="let foto of slideFotos">
        <img [src]="foto" class="foto animated-slide" alt="imagem imóvel">
      </swiper-slide>
    </swiper-container>
    <div style="display: flex; justify-content: center; color: aliceblue;">
      <h3 class="m-0 pr-3">Arraste para o lado</h3>
      <i class="fa fa-arrow-right pt-1" aria-hidden="true"></i>
    </div>
 </div>

  <div class="imovel-item-3"  >
      <div style="color:rgb(255, 255, 255); padding: .6rem ;display: flex; flex-direction: column; justify-content: center;align-items: center;background-color: rgba(0, 0, 0, 0.459);">
        <h2><strong>{{ descricaoImovel.Bairro }}</strong></h2>
        <p>Código Imóvel: <strong>{{CodigoImovel}}</strong></p>
        <div style="display: flex; justify-content: space-between;">
          <div style="padding: 1rem;">
            <ul>
              <li><strong>Quartos:</strong> {{ descricaoImovel.Dormitorios }}</li>
              <li><strong>Banheiros:</strong> {{ descricaoImovel.BanheiroSocialQtd }}</li>
              <li><strong>Área:</strong> {{ descricaoImovel.AreaTotal }} m²</li>
            </ul>
          </div>
          <div style="padding: 1rem;">
            <h2><strong>Valor:{{ descricaoImovel.ValorVenda | currency:'BRL' }} </strong> </h2>
          </div>  
        </div>
        <p style="padding: 1rem;">{{ descricaoImovel.DescricaoWeb }}</p>
        <p>Entre em Contato conosco: (54) 9 96359597 | (54) 9 99551997</p>

      </div>

    </div>
  </div>
</div>