<div class="modal" tabindex="-1" id="modal-item" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fecharModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div [formGroup]="frm" class="form-row">

                    <div class="form-group col-12 col-sm-2" *ngIf="false">
                        <label class="form-label">Código</label>
                        <input type="text" class="form-control" disabled formControlName="codigo" [ngClass]="{ 'is-invalid' :
                                submitted && p.codigo.errors}">
                        <span class="invalid-feedback" *ngIf="p.codigo.errors?.required">Este campo é
                            obrigatório</span>
                    </div>
                    <div class="form-group col-12 col-sm-2">
                        <label class="form-label">Código</label>
                        <input type="text" class="form-control" disabled formControlName="codigoAlternativo" [ngClass]="{ 'is-invalid' :
                                submitted && p.codigoAlternativo.errors}">
                        <span class="invalid-feedback" *ngIf="p.codigoAlternativo.errors?.required">Este campo é
                            obrigatório</span>
                    </div>
                    <div class="form-group col-12 col-sm-10">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" disabled formControlName="nome" [ngClass]="{ 'is-invalid' :
                                submitted && p.nome.errors}">
                        <span class="invalid-feedback" *ngIf="p.nome.errors?.required">Este campo é
                            obrigatório</span>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label class="form-label">NCM</label>
                        <select class="form-control" disabled formControlName="idNcm" [ngClass]="{ 'is-invalid' :
                            submitted && p.idNcm.errors}">
                            <option *ngFor="let item of lstNcm" [ngValue]="item.id">{{item.nome}} - {{item.codigo}}</option>
                        </select>
                        <span class="invalid-feedback" *ngIf="p.idNcm.errors?.required">Este campo é
                            obrigatório</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label class="form-label">Unidade de Medida</label>
                        <input type="text" class="form-control" disabled formControlName="unidadeMedida" [ngClass]="{ 'is-invalid' :
                                submitted && p.unidadeMedida.errors}">
                        <span class="invalid-feedback" *ngIf="p.unidadeMedida.errors?.required">Este campo é
                            obrigatório</span>
                    </div>

                    <div class="form-group col-12 col-sm-2">
                        <label class="form-label">Ativo</label>
                        <select class="form-control" disabled formControlName="ativo" [ngClass]="{ 'is-invalid' :
                            submitted && p.ativo.errors}">
                            <option [ngValue]="true">Sim</option>
                            <option [ngValue]="false">Não</option>
                        </select>
                        <span class="invalid-feedback" *ngIf="p.ativo.errors?.required">Este campo é
                            obrigatório</span>
                    </div>
                    <div class="form-group col-12 col-sm-12" *ngIf="PerfilAcesso==1 || PerfilAcesso ==2">
                        <label class="form-label">Link</label>
                        <input type="text" class="form-control" formControlName="link" [ngClass]="{ 'is-invalid' :
                                                    submitted && p.link.errors}">
                        <span class="invalid-feedback" *ngIf="p.link.errors?.required">Este campo é
                            obrigatório</span>
                    </div>
                    <div class="form-group col-12 col-sm-12" *ngIf="PerfilAcesso>2 && frm.value.link !=null">
                        <a class="btn btn-primary btn-sm" target="_blank" tabindex="99" [href]="frm.value.link">Informações</a>
                    </div>
                    <div class="form-group col-12 col-sm-12">
                        <label class="form-label">Descrição</label>
                        <textarea type="text" class="form-control" formControlName="descricao" [ngClass]="{ 'is-invalid' :
                                submitted && p.descricao.errors}"></textarea>
                        <span class="invalid-feedback" *ngIf="p.descricao.errors?.required">Este campo é
                            obrigatório</span>
                    </div>

                    <div class="row justify-content-center" *ngIf="PerfilAcesso==1 || PerfilAcesso ==2">
                        <h6>Foto</h6>
                        <div class="logofoto">
                            <section class="border p-1 d-flex justify-content-center mb-4 ">
                                <div class="card border border-primary shadow-0 " style="width: 40rem;">

                                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                                        <img [src]="cardImageBase64" class="img-fluid img-thumbnail" style="width: 150px;" />
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <img src="../../../../../assets/img/default.jpg" class="img-fluid img-thumbnail" style="width: 150px;">
                                    </ng-template>

                                    <div class="card-body">
                                        <div class="row text-wrap">
                                            <p><b>Imagem: </b>{{nameFile}} </p>
                                        </div>
                                        {{imageError}}
                                        <label class="btn btn-primary ml-3 mr-4">
                                            Carregar <input type="file" hidden (change)="load_image($event)" accept="image/*">
                                        </label>
                                        <button class="btn btn-warning" (click)="remove_image()">Remover</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                </div>
                <div class="caixa d-flex align-items-center justify-content-center " *ngIf="PerfilAcesso >2">
                    <div class="item">
                        <img [src]="cardImageBase64" class="img-fluid img-thumbnail" style="width: 150px;" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="PerfilAcesso==1 || PerfilAcesso ==2">
                <button type="button" class="btn btn-primary" (click)="save($event)">Salvar</button>
                <button type="button" class="btn btn-secondary" (click)="fecharModal()" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>