<div class="card mb-4">
    <h6 class="card-header">
        <div class="row m-0">
            <div class="col-9">Lista de Itens</div>
            <div class="col-3 d-flex justify-content-end">
                <a type="button" (click)="MostraModal()" class="btn btn-xs btn-outline-primary mt-3" *ngIf="liberadoEdicao">Adicionar/Editar Itens</a>
                <!-- <button type="button" (click)="MostraModal(item.idPedido, item.idProduto)" class="btn btn-xs btn-outline-info">
                                <i class="material-icons icon-button">&#xe872;</i> Pedido Itens</button> -->
            </div>
        </div>
    </h6>

    <div class="card-body">
        <div class="form-row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Qtd</th>
                        <th>Un.</th>
                        <th>Valor Unidade</th>
                        <th>Valor Total</th>
                        <th>Ipi</th>
                        <th>Valor Ipi</th>
                        <th>Valor Total Contábil</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- - ################ LISTAGEM DOS REGISTROS #####################  -->
                    <tr *ngFor="let item of lstPedidoItem">
                        <td>
                            <img [src]="item.fotoProduto" class="img-fluid img-thumbnail" style="width: 70px;" />
                        </td>
                        <td>{{item.codigoAlternativoProduto}}</td>
                        <td class="col-4">{{item.nomeProduto}}</td>
                        <td>{{item.qtd}}</td>
                        <td>{{item.unidadeMedida}}</td>
                        <td> {{ item.valorUnit | currency:'R$' }}</td>
                        <td>{{item.valorTotal | currency:'R$'}}</td>
                        <td>{{item.ipi}}%</td>
                        <td>{{item.valorIpi | currency:'R$'}}</td>
                        <td>{{item.valorTotalContabil | currency:'R$'}}</td>

                        <td class="d-flex justify-content-end">
                            <!-- <button type="button" (click)="MostraModal(item.idPedido, item.idProduto)" class="btn btn-xs btn-outline-info">
                                <i class="material-icons icon-button">&#xe872;</i> Pedido Itens</button> -->
                            <button type="button" (click)="delete(item.id)" *ngIf="liberadoEdicao" class="btn btn-xs btn-outline-danger">
                                <i class="material-icons icon-button">&#xe872;</i> Excluir</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 mt-4">
        <!-- <a tabindex="0" [routerLink]="['/appcore/pedidos/']"
             class="btn btn-outline-secondary">Voltar</a>  -->
        <button type="submit" class="btn btn-info" *ngIf="idStatus == 1 && !liberadoEdicao" (click)="trocaStatus(1)">Finalizar</button>
        <button type="submit" class="btn btn-outline-danger" *ngIf="idStatus != 4 && idStatus != 3 && !liberadoEdicao"
            (click)="trocaStatus(0)">Cancelar</button>
        <!-- <button type="submit" class="btn btn-primary" >Enviar</button>
             <button type="submit" class="btn btn-primary" >Cancelar</button> -->
    </div>
</div>
<app-pedido-item (evFechar)="fecharModal()" [idPedido]="idPedido" *ngIf="mostraModal === 'PedidoItem'"></app-pedido-item>