<div class="container-fluid flex-grow-1 container-p-y">

    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/appcore/dashboard']"><i class="feather icon-home"></i></a>
            </li>
            <li class="breadcrumb-item">{{nome_tela}}</li>
            <li class="breadcrumb-item active col-10">{{nome_etapa}}</li>

        </ol>
    </div>

    <div class="card mb-4">
        <h6 class="card-header">
            <div class="row m-0">
                <div class="col-6">
                    Listagem de Dados
                </div>
            </div>
        </h6>

        <app-filtrospedido (evFiltrar)="filtrar($event)"></app-filtrospedido>

        <div class="row px-4 mt-3">

            <div class="col-4">
                <div class="form-group col-md-4">
                    <select class="custom-select" (change)="limitChanged.next($event.target.value)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50" selected>50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="9999999999">Todos</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <input type="text" class="form-control pl-3" placeholder="Pesquisar ..." (input)="searchChanged.next($event.target.value)" />
            </div>
            <div class="col-2">
                <button type="button" (click)="exportPedido()" *ngIf="pedidosExport.length>0" class="btn btn-info">
                    Exportar Pedidos</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-info" [routerLink]="['/appcore/pedidos/view']">
                    <i class="bi bi-cart-plus"></i> Novo Pedido</button>
            </div>

        </div>

        <div class="card-body" *ngIf="loading">
            <div class="row text-center">
                <div class="col" style="color: #AAA;">
                    <div class="spinner-border mb-3" role="status"></div>
                    <p style="font-size: 1.2rem;">Carregando, aguarde...</p>
                </div>
            </div>
        </div>

        <div class="card-body " *ngIf="!(loading || itens.length == 0)">


            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" (change)="selectAll($event)" *ngIf="(PerfilAcesso==1 || PerfilAcesso==2)">
                        </th>
                        <th>Ações</th>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Dt. Cad</th>
                        <th>Dt. Fin</th>
                        <th>Dt. Imp</th>
                        <th>Dt. Fat.</th>
                        <!-- <th>Tabela</th> -->
                        <!-- <th>Condição de Pagamento</th> -->
                        <th>Cliente</th>
                        <th>Representante</th>
                        <th>Total Contábil</th>
                        <th>Total Mercadoria</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ################ LISTAGEM DOS REGISTROS ##################### -->
                    <tr *ngFor="let item of itens | paginate: { itemsPerPage: limit, currentPage: page, totalItems: total }">
                        <td>
                            <input type="checkbox" *ngIf="(item.idStatus==2 || item.idStatus==3) && (PerfilAcesso==1 || PerfilAcesso==2)"
                                [checked]="item.selecionado" (change)="addPedidoExport(item.id)">
                        </td>
                        <td>
                            <button type="button" [routerLink]="['view', item.id]" title="Editar Pedido" class="btn btn-xs btn-info">
                                <i class="bi bi-pencil"></i></button>
                            <button type="button" (click)="imprimir(item)" title="Imprimir Pedido" class="btn btn-xs btn-success  mt-1">
                                <i class="bi bi-printer"></i></button>

                            <button type="button" *ngIf="item.idStatus==1 && (PerfilAcesso==1 || PerfilAcesso==2)" (click)="delete(item.id)"
                                class="btn btn-xs btn-outline-danger  mt-1"><i class="bi bi-archive"></i> Excluir</button>
                        </td>
                        <td>{{item.id}}</td>
                        <td>{{item.nomeStatus}}</td>
                        <td>{{item.dataCadastro}}</td>
                        <td>{{item.dataFinalizado}}</td>
                        <td>{{item.dataBaixado}}</td>
                        <td>
                            {{item.dataFaturado}}<br />
                            <small *ngIf="item.codigoPedidoErp!= null">NFe ERP: {{item.codigoPedidoErp}}</small>
                        </td>
                        <!-- <td>{{item.nomeTabela}}</td> -->
                        <!-- <td>{{item.nomeCondPagamento}}</td> -->
                        <td>
                            {{item.nomeCliente}}
                            <!-- <br /> <small>Rep.: {{item.nomeRepresentante}}</small> -->
                        </td>
                        <td class="col-3">{{item.nomeRepresentante}}</td>
                        <td>{{item.valorTotalContabil | currency:'R$'}}</td>
                        <td>{{item.valorTotalMercadoria | currency:'R$'}}</td>
                        <td>
                            <p title="{{item.observacao}}">{{item.observacao.substring(0,50)}}...</p>
                        </td>


                    </tr>

                </tbody>
            </table>
            <div class="card-footer">
                <div class="float-left">
                    Exibindo <b>{{itens.length}}</b> de <b>{{total}}</b> resultados
                </div>
                <div class="float-right">
                    <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)" nextLabel=""
                        previousLabel=""></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>