.scroll::-webkit-scrollbar {
    width: 5px;
}
.scroll::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
html, body { height: 100%; }


body { margin: 0; font-family: exo-regular, sans-serif;}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

//@import "~@ng-select/ng-select/themes/material.theme.css";
//@import "./ng-select.default.theme.css";
@import './flatpickr-material_orange.css';
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

input:checked{
    background-color: #ff4a00;
}

.gauge{
    svg{
        background-color: rgba(255, 0, 0, 0.179);
        height: inherit;
    }
    height: inherit;
    width: inherit;
}
//bootstrap td overwrite
.table td{
    //border-top: 1px solid #f1f1f2; (original)
    border-top: none !important;
}

.not-optional{
    color: #FF4961;
    margin: 0%;
    textarea{
        border:1px solid #FF4961;
    }
    input{
        border:1px solid #FF4961;
    }
}

.dropdown-error{
    .ng-select-container{
        color:#333;
        background-color:#fff;
        border-radius:2px;
        border:1px solid #FF4961;
    }
}

input[type=file]::file-selector-button {
    cursor: pointer;
    background: transparent;
    box-shadow: 0 0 0 1px #0e2638 inset;
    color: #0e2638;
    padding: 0;
    border-style: none;
    margin-right: 0.5rem !important;
    padding: 0.25rem 0.6875rem;
    font-size: 0.6875rem;
    line-height: 1.55;
    border-radius: 0.125rem;
    transition: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 0px solid transparent;
    font-family: inherit;
    box-sizing: border-box;
    height: 1.6rem;
    text-transform: uppercase;
    width: 5.5rem;
    
}

.fileSelector{
    cursor: pointer;
    background: transparent;
    box-shadow: 0 0 0 1px #0e2638 inset;
    color: #0e2638;
    padding: 0;
    padding: 0.25rem 0.6875rem;
    font-size: 0.6875rem;
    line-height: 1.55;
    transition: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;

    border-style: solid;
    border-radius: 1em;
    border-width: 0px;

    font-family: inherit;
    box-sizing: border-box;
    height: 1.6rem;
    text-transform: uppercase;
    width: 5.5rem;
}

.fileSelector:hover{
    color: #ffffff;
    background-color: #0e2638;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.15), 0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}

.titulo-load-carregando{
    color: #AAA;
}

.form-divisor{
    border-width: 1px !important;
}

input[type=file]::file-selector-button:hover {
    background-color: #0e2638;
    color: #fff;
    box-shadow: 2px 2px 4px #00000023;
}

@import "./../src/assets/ng-select-rounded.css";

input[type=file]::file-selector-button:hover {
    border-radius: 1em !important;
}

input[type=file]::file-selector-button {
    border-radius: 1em !important;
}

.custom-control-label::before{
    border-radius: 1em !important;
}

.card {
    border-radius: 1em !important;
    //overflow: hidden;
}

.tab-content {
    border-radius: 1em !important;
    //overflow: hidden;
}


.btn {
    border-radius: 1em !important;
}
.form-control {
    border-radius: 1em !important;
    //:not(.input-group) > .form-control:not([class*="px-"]):not([class*="pl-"])
    padding-left: .75em !important;
}

.modal-content {
    border-radius: 1em !important;
    //overflow: hidden;
}

.ng-popup__ok-btn{
    border-radius: 1em !important;
    background-color: #0e2638 !important;
}

.ng-popup__content {
    border-radius: 1em !important;
}

.ng-popup__cancel-btn{
    color: #0e2638 !important;
    border-color: #0e2638 !important;
    border-radius: 1em !important;
}
.ng-popup__input{
    border-radius: 1em !important;
}

.ngx-pagination .current{
    border-radius: 1em !important;
}

.ngx-pagination a:hover{
    border-radius: 1em !important;
}

.ngx-pagination .waves-effect{
    overflow: visible !important;
}

.ngx-toastr{
    border-radius: 1em !important;
}

.img-thumbnail{
    border-radius: 1em !important;
}

.dropdown-menu{
    border-radius: 1em !important;
}

.flatpickr-calendar{
    ::after{
        border-radius: 1em !important;
    }
    ::before{
        border-radius: 1em !important;
    }
}

.flatpickr-months .flatpickr-month{
    border-radius: 1em 1em 0 0 !important;
    //border-radius: 0 0 1em 1em !important;
}
.flatpickr-innerContainer{
    border-radius: 0 0 1em 1em !important;
    overflow: hidden;
}
.flatpickr-rContainer{
    border-radius: 0 0 1em 1em !important;
    overflow: hidden;
}
.flatpickr-days{
    border-radius: 0 0 1em 1em !important;
    overflow: hidden;
}
.dayContainer{
    border-radius: 0 0 1em 1em !important;
    overflow: hidden;
}
.flatpickr-calendar{
    border-radius: 1em 1em 1em 1em !important;
    overflow: hidden;
}

.flatpickr{
    i{
        border-radius:0 1em 1em 0 !important;
    }
    input{
        border-radius:1em 0 0 1em !important;
    }
}

.flatpickr-calendar.noCalendar .flatpickr-time{
    border-radius:1em !important;
    background-color: #0e2638 !important;
    input{
        color: white;
    }
}

.flatpickr-calendar.hasTime{
    .flatpickr-time{
        border-radius:0 !important;
        background-color: #0e2638 !important;
        input{
            color: white;
        }
        overflow: hidden;
    }
    .flatpickr-days{
        border-radius: 0 !important;
        overflow: visible !important;
    }
    .flatpickr-innerContainer{
        border-radius: 0 !important;
    }
    .flatpickr-rContainer{
        border-radius: 0 !important;
    }
}


.flatpickr-time input:hover{
    background-color: #123148 !important;
}
.flatpickr-time input:focus{
    background-color: #1a4667 !important;
}

.table{
    border-radius: 1em !important;
}

.icon-button{
    font-size: small;
    vertical-align: text-top;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

//====================================================================================
td{
    .btn {
        display: ruby !important;
    }
}

.container-fluid {
    animation: fade .5s ease-out;
}

.tab-pane.active {
    animation: fade .5s ease-out;
}


@keyframes fade {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

//Gauges
mwl-gauge {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 1em;
}

mwl-gauge > .gauge > .dial {
    stroke: #eee;
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
}

mwl-gauge > .gauge > .value {
    stroke: #0e2638;
    stroke-width: 5;
    fill: rgba(0, 0, 0, 0);
}

mwl-gauge > .gauge > .value-text {
    fill: #0e2638;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

// mwl-gauge.small {
//     width: 17.5vw !important;
//     height: 17.5vw !important;
// }

mwl-gauge.three > .gauge > .dial {
  stroke: #0e2638;
  stroke-width: 2;
}

mwl-gauge.three > .gauge > .value {
  stroke:  #69e0a5;
  stroke-width: 5;
}

mwl-gauge.three > .gauge > .value-text {
  fill:  #69e0a5;
}

//============================================================================

mwl-gauge.two > .gauge > .dial {
    stroke: #0e2638;
    stroke-width: 2;
  }
  
  mwl-gauge.two > .gauge > .value {
    stroke:  #FFB347;
    stroke-width: 5;
  }
  
  mwl-gauge.two > .gauge > .value-text {
    fill:  #FFB347;//FFB347
  }

//============================================================================
  mwl-gauge.one > .gauge > .dial {
    stroke: #0e2638;
    stroke-width: 2;
  }
  
  mwl-gauge.one > .gauge > .value {
    stroke:  #FF6961;
    stroke-width: 5;
  }
  
  mwl-gauge.one > .gauge > .value-text {
      fill:  #FF6961;
    }
//============================================================================
@media (min-width: 992px) {
    .layout-collapsed:not(.layout-offcanvas):not(.layout-fixed-offcanvas) .layout-sidenav:not(:hover) .app-brand {
        padding-right: 0;
        padding-left: 0;
        width: 6em !important;
        .col-9{
            padding: 0;
        }
  
    }
}

.switch{
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 4em;
      height: 2em;
      background: #FF6961;
      display: block;
      border-radius: 100px;
      position: relative;
    }
    
    label:after {
      content: '';
      position: absolute;
      top: .25em;
      left: .25em;
      width: 1.475em;
      height: 1.475em;
      background: #fff;
      border-radius: 1em;
      transition: 0.3s;
    }
    
    input:checked + label {
      background: #69e0a5;
    }
    
    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
    
    label:active:after {
      width: 2em;
    }    
}

.unchangeable{
    label {
      background: #FF6961AA;
      cursor: default;
    }
    
    input:checked + label {
      background: #69e0a5AA;
    }

    label:active:after {
      width: 1.47em;
    }    
}


.self-center-horizontal{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.child-center-vertical{
	display: flex;
	justify-content: center;
	align-items: center;
}


ng-select {
    &.is-invalid{
        .ng-select-container{
            border-color: #FF6961 !important;
        }
    }
}

.paginate_button{
    background: transparent !important;
    border: 1px solid #0e2638;
    border-radius: 1em !important;
    margin: .5em 0 .5em 0 !important;
}

.list-group{
    .list-group-item:only-child{
        border-radius: 1em !important;
    }

    .list-group-item:first-child{
        border-radius: 1em 1em 0em 0em;
    }

    .list-group-item:last-child{
        border-radius: 0em 0em 1em 1em;
    }
}

//Edit node {}

.node-content-wrapper-active{
    border-radius: 1em;
}
.node-content-wrapper{
    font-size: 1rem;
    border-radius: 1em;
    padding: .3em 1em .3em 1em;
}
.toggle-children-wrapper{
    .toggle-children{
        top: .3em;
    }
}

.self-center-horizontal{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.child-center-vertical{
	display: flex;
	justify-content: center;
	align-items: center;
}

.divider-right{
    border-color: rgb(229, 231, 235, 0.8);
    border-width: 0px 1px 0px 0px;
    border-style: solid;
}

.cViewEncomenda{
    width: 100%;
    .card{
        border-radius: 1em !important;
        overflow: hidden;
        width: 100%;
        .container{
            margin: 0 !important;
            width: 100%;
            max-width: 100%;
        }
    }
}