<div class="container-fluid flex-grow-1 container-p-y">

    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/appcore/dashboard']"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item" [routerLink]="['/appcore/pedidos']">Pedido</li>
            <li class="breadcrumb-item active">Novo</li>
        </ol>
    </div>

    <ul class="nav nav-tabs ml-3" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#pedido" role="tab" data-toggle="tab"><i class="material-icons mr-2"
                    style="font-size: 1.2rem; vertical-align: top;">&#xe97a;</i> Pedido</a>
        </li>
        <li class="nav-item" *ngIf="id > 0">
            <a class="nav-link" href="#pedidoItem" role="tab" data-toggle="tab"><i class="material-icons mr-2"
                    style="font-size: 1.2rem; vertical-align: top;">&#xe97a;</i> Pedidos Itens</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show" id="pedido">
            <div class="card mb-4">
                <h6 class="card-header">
                    <div class="row m-0">
                        <div class="col-9" *ngIf="id==0">Novo Registro</div>
                        <div class="col-9" *ngIf="id>0">Editar Registro</div>
                        <!-- BOTÃO NOVO  -->
                        <!-- <div class="col-3 d-flex justify-content-end">
                            <a type="button" *ngIf="id>0" [routerLink]="['/appcore/pessoas/view']" class="btn btn-xs
                                btn-outline-primary" click>Novo</a>
                        </div> -->
                    </div>
                </h6>
                <div class="card-body" *ngIf="loading">
                    <div class="row text-center">
                        <div class="col" style="padding: 20px 0;">
                            <div class="spinner-border mb-3" style="color: #AAA" role="status"></div>
                            <p class="titulo-load-carregando">Carregando... Aguarde</p>
                        </div>
                    </div>
                </div>
                <div class="card-body" [formGroup]="frmForm" [hidden]="loading">

                    <div [formGroup]="frmForm">
                        <div class="form-row">
                            <div class="form-group col-md-2 col-sm-2">
                                <label class="form-label">Data Cadastro</label><label class="not-optional">*</label>
                                <app-flatpickr-component id="dataCadastro" [FormGroup]="frmForm" [submitted]="submitted"
                                    formControlName="dataCadastro"></app-flatpickr-component>
                                <span class="invalid-feedback" *ngIf="f.dataCadastro.errors?.required">Este campo é obrigatório</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group col-md-6 col-xxl-3" *ngIf="idCliente == -1">
                                <label class="form-label">Cliente</label><label class="not-optional">*</label>
                                <ng-select placeholder="Selecione um cliente..." formControlName="idCliente" [searchable]="true" [clearable]="true"
                                    [items]="lstClientes" [ngClass]="{ 'is-invalid' : submitted && f.idCliente.errors}" bindLabel="razaoSocial"
                                    bindValue="id" notFoundText="Nenhum tabela encontrada!">
                                    <ng-template ng-option-tmp let-item="item">
                                        <div title="{{item.razaoSocial}}">{{item.razaoSocial}} ({{item.nomeFantasia}})</div>
                                    </ng-template>
                                </ng-select>
                                <span class="invalid-feedback" *ngIf="f.idCliente.errors?.required">Este campo é obrigatório</span>
                            </div>



                            <!-- <div class="form-group col-md-3 col-sm-2">
                                <label class="form-label">Tabela Preço</label><label class="not-optional">*</label>
                                <select class="custom-select" class="form-control" formControlName="idTabela"
                                    [ngClass]="{ 'is-invalid' : submitted && f.idTabela.errors}">
                                    <option value="">Selecione...</option>
                                    <option *ngFor="let item of lstTabela" [ngValue]="item.id">{{item.nome}} </option>
                                </select>
                                <span class="invalid-feedback" *ngIf="f.idTabela.errors?.required">Este campo é obrigatório</span>
                                <div class="clearfix"></div>
                            </div> -->
                            <div class="form-group col-xxl-3 col-md-4">
                                <label class="form-label">Tabela Preço</label><label class="not-optional">*</label>
                                <ng-select placeholder="Selecione uma tabela..." formControlName="idTabela" [searchable]="true" [clearable]="true"
                                    [items]="lstTabela" [ngClass]="{ 'is-invalid' : submitted && f.idTabela.errors}" bindLabel="nome" bindValue="id"
                                    notFoundText="Nenhum tabela encontrada!">
                                    <ng-template ng-option-tmp let-item="item">
                                        <div title="{{item.nome}}">{{item.nome}}</div>
                                    </ng-template>
                                </ng-select>
                                <span class="invalid-feedback" *ngIf="f.idTabela.errors?.required">Este campo é obrigatório</span>
                            </div>

                            <div class="form-group col-md-4 col-xxl-3"><label class="not-optional">*</label>
                                <label class="form-label">Cond. Pagamento</label><label class="not-optional">*</label>
                                <select class="custom-select" class="form-control" formControlName="idCondicaoPagamento"
                                    [ngClass]="{ 'is-invalid' : submitted && f.idCondicaoPagamento.errors}">
                                    <option value="">Selecione...</option>
                                    <option *ngFor="let item of lstCondicaoPagamento" [ngValue]="item.id">{{item.nome}} </option>
                                </select>
                                <span class="invalid-feedback" *ngIf="f.idCondicaoPagamento.errors?.required">Este campo é obrigatório</span>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group col-md-3 col-xxl-3">
                                <label class="form-label">Código Pedido Cliente</label><br>
                                <input type="text" formControlName="codigoPedido" class="form-control">
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group col-md-2 col-xxl-3" *ngIf="id>0">
                                <label class="form-label">Data Finalizado</label><br>
                                <input type="text" formControlName="dataFinalizado" class="form-control" disabled="true">
                            </div>

                            <div class="form-group col-md-2 col-sm-2" *ngIf="id>0">
                                <label class="form-label">Data Baixado</label><br>
                                <input type="text" formControlName="dataBaixado" class="form-control" disabled="true">
                            </div>
                            <div class="form-group col-md-2 col-sm-2" *ngIf="id>0">
                                <label class="form-label">Data Faturado</label><br>
                                <input type="text" formControlName="dataFaturado" class="form-control" disabled="true">
                            </div>
                            <div class="form-group col-md-3 col-sm-2" *ngIf="id>0">
                                <label class="form-label">Código Pedido no ERP</label><br>
                                <input type="number" formControlName="codigoPedidoErp" class="form-control" disabled="true">
                            </div>



                            <div class="form-group col-md-12 col-sm-2">
                                <label class="form-label">Observação</label>
                                <textarea type="text" class="form-control" formControlName="observacao" [ngClass]="{ 'is-invalid' :
                                                        submitted && f.observacao.errors}" #observacao></textarea>
                                <span class="invalid-feedback" *ngIf="f.observacao.errors?.required">Este campo é obrigatório</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">
                                <label class="form-label">Status</label>
                                <select class="custom-select" class="form-control" formControlName="idStatus" disabled
                                    [ngClass]="{ 'is-invalid' : submitted && f.idStatus.errors}">
                                    <option value="">Selecione...</option>
                                    <option *ngFor="let item of lstStatus" [ngValue]="item.id">{{item.nome}} </option>
                                </select>
                                <span class="invalid-feedback" *ngIf="f.idStatus.errors?.required">Este campo é obrigatório</span>
                            </div>

                            <div class="form-group col-md-3 col-sm-2" *ngIf="id>0">
                                <label class="form-label">Valor Mercadoria</label><br>
                                <input type="text" formControlName="valorTotalMercadoria" currencyMask
                                    [options]="{ prefix:'R$ ',thousands:'.', decimal: ',', align:'left' }" class="form-control" disabled="true">
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group col-md-3 col-sm-2" *ngIf="id>0">
                                <label class="form-label">Valor Contábil</label><br>
                                <input type="text" formControlName="valorTotalContabil" currencyMask
                                    [options]="{ prefix:'R$ ',thousands:'.', decimal: ',', align:'left' }" class="form-control" disabled="true">
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="form-label">E-mails para notificação do pedido</label><br>
                                <input type="text" formControlName="emailNotificacao" class="form-control">
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <button type="submit" class="btn btn-info mt-3" *ngIf="frmForm.value.id > 0" (click)="enviarEmail()">Enviar
                                    E-mail</button>
                            </div>

                            <div class="form-group col-md-12 col-sm-12 mt-4">
                                <button type="submit" class="btn btn-primary" (click)="save($event)" *ngIf="liberadoEdicao">Salvar</button>

                                <button type="submit" class="btn btn-info" *ngIf="frmForm.value.idStatus==1 && frmForm.value.id > 0"
                                    (click)="trocaStatus(1)">Finalizar</button>
                                <button type="submit" class="btn btn-info" *ngIf="frmForm.value.idStatus==2 && frmForm.value.id > 0"
                                    (click)="trocaStatus(2)">Reabrir Pedido</button>
                                <button type="submit" class="btn btn-outline-danger"
                                    *ngIf="frmForm.value.idStatus != 4 && frmForm.value.idStatus != 3 && !liberadoEdicao && frmForm.value.id > 0"
                                    (click)="trocaStatus(0)">Cancelar</button>
                                <a *ngIf="id>0" tabindex="0" [routerLink]="['/appcore/pedidos']" class="btn btn-outline-secondary">Voltar</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade " id="pedidoItem" *ngIf="id > 0">

            <app-aba-pedido-item [idPedido]="id" (evReload)="load()" [liberadoEdicao]="liberadoEdicao" [idStatus]="idStatus"></app-aba-pedido-item>
        </div>
    </div>
</div>